<div class="login-wrapp h-100" id="home">
<br>
  <div class="row" style="margin: left 1cm;">
      <div class="col-lg-1"></div>
      <div class="col-lg-1" style="margin: left 1px;">
          <img src="../../assets/img/Annotation 2023-03-12 092855.png" style="width:100px;height:100px;">
      </div>
      <div class="col-lg-5">
      <h1>

          THE LITTLE HANGER
      </h1>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>PEHNO ESE CELEBRITY JESE .</b></p>
      </div>

      <div class="col-lg-2">
        <a href="mailto:feedback@geeksforgeeks.org" >
        <div class="row">
          <div class="col-lg-3">
          <h1><i class="bi bi-envelope-at"></i></h1></div>
          <div class="col-lg-6"><b>E-mail</b>
            rajendra@gmail.com
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="tel:6370178554" >
        <div class="row">
          <div class="col-lg-3">
          <h1><i class="bi bi-telephone-forward"></i></h1></div>
          <div class="col-lg-5"><b>Help Line</b>
            6370178554
          </div>
        </div>
      </a>
      </div>
  </div>

  <div class="topnav">
    <a  href="#home">&nbsp; <img src="../../assets/img/Annotation 2023-03-12 092855.png" style="width:30px;height:25px;"></a>
    <a class="active" href="">T L H</a>
     <div class="topnav-right">
      <a href="#home"><i class="bi bi-search"></i></a>
      <a href="#home">Home</a>
      <a href="#home">log In</a>
      <a href="#about">About</a>
    <a href="#service">Services</a>
      <a href="#product">Products</a>
      <a href="#">UpDates</a>
      <a href="#Contact">Contact</a>&nbsp;
    </div>
  </div>

  <div id="about" class="container">
<br>
    <h2>About Us</h2>
    <p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">&nbsp;&nbsp;&nbsp;
      Welcome to The Little Hanger, your one-stop shop for high-quality fabrics. We specialize in providing premium fabrics for all your sewing and crafting needs.
At The Little Hanger , we believe that every project deserves the best materials. That's why we only source our fabrics from trusted suppliers and mills, ensuring that our customers receive the highest quality fabrics every time.
Our extensive selection of fabrics includes a wide variety of colors, patterns, and materials to suit any project.</p>

<p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;"> &nbsp;&nbsp;&nbsp;Whether you're looking for cotton for your next quilting project, luxurious silk for a special occasion dress, or durable canvas for a tote bag, we've got you covered.
In addition to our great selection, we pride ourselves on providing exceptional customer service. Our knowledgeable staff is always on hand to answer any questions you may have and to help you find the perfect fabric for your project.
At The Little Hanger, we're committed to sustainability and eco-friendliness.
</p>
<p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;"> &nbsp;&nbsp;&nbsp;We offer a selection of organic and sustainably sourced fabrics, so you can feel good about your purchase.

We also offer competitive pricing and fast shipping, so you can get your fabrics quickly and affordably. Plus, we regularly offer discounts and promotions, so be sure to sign up for our newsletter to stay up-to-date on our latest deals.

Thank you for choosing The Little Hanger. We can't wait to help you bring your next project to life with our beautiful fabrics.

    </p>
    <p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">&nbsp;&nbsp;&nbsp;
      Welcome to The Little Hanger, your one-stop-shop for all your fabric needs. We are a family-owned and operated this business with 0  experience in this industry, and we're dedicated to providing our customers with the best quality fabrics and exceptional customer service.
At The Little Hanger, we pride ourselves on sourcing only the highest quality fabrics from trusted suppliers and mills.</p>

<p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">&nbsp;&nbsp;&nbsp; Our extensive selection includes a wide variety of colors, patterns, and materials to suit any project, whether you're a professional seamstress, a DIY crafter, or a fashion designer.
Our knowledgeable staff is always on hand to help you find the perfect fabric for your project and answer any questions you may have. We're passionate about what we do, and we're committed to providing you with the best customer service possible.
In addition to our great selection and customer service, we're also committed to sustainability and eco-friendliness. We offer a selection of organic and sustainably sourced fabrics, so you can feel good about your purchase.

</p>
<p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;"> &nbsp;&nbsp;&nbsp;At The Little Hnager, we also offer custom saree Making services, so you can create your own unique designs and stand out from the competition. Our Making  process is high-quality, and we'll work with you every step of the way to ensure that your custom fabric meets your specifications and exceeds your expectations.

We understand that time is of the essence when it comes to completing your projects, which is why we offer fast and reliable shipping, so you can get your fabrics when you need them. Plus, we offer bulk discounts for businesses looking to purchase large quantities of fabric.

</p>
<p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">&nbsp;&nbsp;&nbsp; Thank you for choosing The Little Hanger for all your fabric needs. We look forward to helping you bring your creative vision to life with our beautiful fabrics and exceptional service.
    </p>

  </div>

<br>
  <div id="service" class="container">
    <h2 class="mt-2">Service & Solution</h2>
    <p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">
      Are you tired of searching for high-quality fabrics at affordable prices? Look no further than The Little Hanger. Our wide selection of premium fabrics and exceptional customer service makes us your go-to destination for all your fabric needs.</p>
      <p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">
      We understand that as a business, you need to be able to source fabrics quickly and efficiently. That's why we offer competitive pricing and fast shipping, so you can get your materials when you need them. Our knowledgeable staff is always on hand to help you find the perfect fabric for your project and answer any questions you may have.

      At The Little Hanger, we also offer bulk discounts for businesses looking to purchase large quantities of fabric. Contact us today to learn more about our wholesale pricing options.
    </p>
    <p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">
      We pride ourselves on offering sustainable and eco-friendly fabrics, so you can feel good about your purchase. Our selection of organic and sustainably sourced fabrics is perfect for businesses looking to incorporate environmentally friendly materials into their products.

      In addition, we also offer custom fabric printing services, so you can create your own unique designs and stand out from the competition. We'll work with you every step of the way to ensure that your custom fabric meets your specifications and exceeds your expectations.

      Choose The Little Hanger for all your fabric business needs. Our commitment to quality, affordability, and sustainability makes us the best choice for businesses of all sizes.


    </p>
    <p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">&nbsp;&nbsp;&nbsp;
      At The Little Hanger, we offer a range of services to meet all your fabric needs. Whether you're a professional seamstress, a DIY crafter, or a business owner, we've got you covered.

      Our services include:
    </p><p style="text-align: justify; margin-right: 2ch; margin-left: 5ch;">
      1. High-Quality Fabrics: We pride ourselves on sourcing only the best quality fabrics from trusted suppliers and mills. Our selection includes a wide variety of colors, patterns, and materials to suit any project.
    </p><p style="text-align: justify; margin-right: 2ch; margin-left: 5ch;">
      2. Fast Shipping: We know that time is of the essence when it comes to completing your projects. That's why we offer fast and reliable shipping, so you can get your fabrics when you need them.
    </p><p style="text-align: justify; margin-right: 2ch; margin-left: 5ch;">
      3. Exceptional Customer Service: Our knowledgeable staff is always on hand to help you find the perfect fabric for your project and answer any questions you may have. We're committed to providing you with the best customer service possible.
    </p><p style="text-align: justify; margin-right: 2ch; margin-left: 5ch;">
      4. Custom Saree Making: We offer custom Saree Making services, so you can create your own unique designs and stand out from the competition. Our Making process is high-quality, and we'll work with you every step of the way to ensure that your custom saree meets your specifications and exceeds your expectations.
    </p><p style="text-align: justify; margin-right: 2ch; margin-left: 5ch;">
      5. Sustainable and Eco-Friendly Fabrics: We're committed to sustainability and eco-friendliness, and we offer a selection of organic and sustainably sourced fabrics. Our commitment to the environment means that you can feel good about your purchase.
    </p><p style="text-align: justify; margin-right: 2ch; margin-left: 5ch;">
      6. Bulk Discounts: If you're a business looking to purchase large quantities of fabric, we offer bulk discounts to help you save money on your materials. Contact us today to learn more about our wholesale pricing options.
    </p><p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">
      Choose The Little Hanger for all your fabric needs. Our commitment to quality, affordability, and sustainability makes us the best choice for customers of all kinds.
    </p>

  </div>
  <br>
</div>
<div class="contact" id="Contact">
  <div class="row" style="margin: top 1px;;">
  <div class="col-lg-4"></div>
  <div class="col-lg-4" style="text-align: center;">
      <br>Citizen Charter News | Events | Feedback | Form Contact
      <p><br>FAQs | RTI | Privacy Policy | Copyright Policy | Hyperlink <br></p>
      <p> Policy Terms | Conditions Site Map<br></p></div>
  </div>
</div>


<div class="topnav">
<a  href="#home">Copyright 2023 The Little Hanger (T L H). All Right Reserved.</a>
 <div class="topnav-right">
  <a href="#news">Website Designed by Rajendra Prasad sahoo</a>

</div>
</div>

