.login-wrapp {
  background: #bbc4cc url(../../assets/img/login-bg.jpg) center;
  background-size: cover;
}
.login-box {
  border-radius: 2rem;

  .iconinput {
    position: relative;

    &>i {
      position: absolute;
      top: 0.4rem;
      left: .8rem;
      top: .2rem;
      // color: rgba($link-color, .8);
  }

  &.password {
      i {
          font-size: 1.4rem;
          top: 0.7rem;
      }
  }

    a {
      &.enablebtn {
          position: absolute;
          padding: 0 .5rem;
          right: 0.5rem;
          top: 0.5rem;
      }
  }
  }
}

