.sidebar-link {
  padding-left: 12px;
}
.lnk {
  padding-left: 25px;
}

*{
  margin: 0;
  padding:0 ;
  list-style: none;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  width: 150px;
  height: 100%;
  background: #014d4e;
}
.sidebar header{
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 117px;
  background: wheat;
  user-select: none;

}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 52px;
  font-size: 15px;
  color:white;
  padding-left: 30px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,2555,.1);
  border-bottom: 1px solid #017778;
  transition: .4s ;
}
ul li:hover a{
  padding-left: 50px;
}

ul li a i{
  margin-right: 16px;
}
