<nav class="sidebar">
  <header>T L H</header>
  <ul>
    <li><a class="active" href=""><i class="bi bi-list"></i>Menu</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>
    <li><a href=""> <i class="bi bi-whatsapp"></i>HHII</a></li>

  </ul>
</nav>
