<div class="login-wrapp h-100" id="home">
  <!-- <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
          <div class="col-xl-5 col-xxl-5">
              <div class="login-box bg-white shadow mx-xxl-3 p-4 p-xxl-5">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quaerat voluptas assumenda quisquam quibusdam hic, ducimus, cupiditate in molestias repellendus natus dolor vitae iure possimus harum totam rerum? Beatae rem, vitae quas laboriosam, enim quam est perspiciatis ad expedita vel quisquam ea esse error omnis, incidunt velit autem iusto. Quisquam?</h1>
              </div>
          </div>
      </div> -->
      <br>
      <div class="row" style="margin: left 1cm;">
          <div class="col-lg-1"></div>
          <div class="col-lg-1" style="margin: left 1px;">
              <img src="../../assets/img/Annotation 2023-03-12 092855.png" style="width:100px;height:100px;">
          </div>
          <div class="col-lg-5">
          <h1>

              THE LITTLE HANGER
          </h1>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>PEHNO ESE CELEBRITY JESE .</b></p>
          </div>

          <div class="col-lg-2">
            <a href="mailto:feedback@geeksforgeeks.org" >
            <div class="row">
              <div class="col-lg-3">
              <h1><i class="bi bi-envelope-at"></i></h1></div>
              <div class="col-lg-6"><b>E-mail</b>
                rajendra@gmail.com
              </div>
            </div>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="tel:6370178554" >
            <div class="row">
              <div class="col-lg-3">
              <h1><i class="bi bi-telephone-forward"></i></h1></div>
              <div class="col-lg-5"><b>Help Line</b>
                6370178554
              </div>
            </div>
          </a>
          </div>
      </div>

      <div class="topnav">
        <a  href="#home">&nbsp; <img src="../../assets/img/Annotation 2023-03-12 092855.png" style="width:30px;height:25px;"></a>
        <a class="active" href="">T L H</a>
         <div class="topnav-right">
          <a href="#home"><i class="bi bi-search"></i></a>
          <a href="#home">Home</a>
          <a href="/login">log In</a>
          <a href="#about">About</a>
        <a href="#service">Services</a>
          <a href="#product" (click)="oh()">Products</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">UpDates</a>
          <a href="#Contact">Contact</a>&nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" style="text-align: center;">
            <div class="card shadow-sm  mt-xl-4 " style="background-color: rgb(193, 247, 229);">
                <div class="card-body shadow">
                    <!-- <marquee width="95%" direction="left" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, perspiciatis qui eaque et natus voluptate dolorem delectus perferendis laborum reiciendis.
                    </marquee> -->
                    <div class="row gx-xl-5 treatment-details ">
                        <div class="col-xl-2 " >
                           <p class="small text-muted mb-0">Name
                           </p>
                           <h6 class="mb-0">Notification </h6>
                       </div>
                        <div class="col-xl">
                           <div class="d-flex align-items-center">
                            <marquee width="95%" direction="left" >
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, perspiciatis qui eaque et natus voluptate dolorem delectus perferendis laborum reiciendis.
                            </marquee>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

        <div class="row" id="about">
          <div class="col-lg-7">
              <h2>&nbsp; About Us</h2>
      <p style="text-align: justify; margin-left: 4ch;">
        &nbsp; &nbsp;<b>W</b>elcome to The Little Hanger, your one-stop shop for high-quality fabrics. We specialize in providing premium fabrics for all your sewing and crafting needs.

        At The Little Hanger , we believe that every project deserves the best materials. That's why we only source our fabrics from trusted suppliers and mills, ensuring that our customers receive the highest quality fabrics every time.

        Our extensive selection of fabrics includes a wide variety of colors, patterns, and materials to suit any project. Whether you're looking for cotton for your next quilting project, luxurious silk for a special occasion dress, or durable canvas for a tote bag, we've got you covered.

        In addition to our great selection, we pride ourselves on providing exceptional customer service. Our knowledgeable staff is always on hand to answer any questions you may have and to help you find the perfect fabric for your project.

        At The Little Hanger, we're committed to sustainability and eco-friendliness. We offer a selection of organic and sustainably sourced fabrics, so you can feel good about your purchase.

        We also offer competitive pricing and fast shipping, so you can get your fabrics quickly and affordably. Plus, we regularly offer discounts and promotions, so be sure to sign up for our newsletter to stay up-to-date on our latest deals.
      </p><h5 style="margin-left: 4ch;" (click)="forward('about')">Read More <span style="color: green; font-size: larger;"><i class="bi bi-arrow-right"></i></span></h5>

          </div>
          <div class="col-lg-5">
              <img src="../../assets/img/Screenshot_2023-03-10-11-02-40-85_1c337646f29875672b5a61192b9010f9.jpg" alt="Italian Trulli" class="shadow" style="width:530px;height:400px; border-radius: 2rem;" >
          </div>
      </div>
<br>
      <div class="row" id="service" style="margin-left: 4ch;">
        <div class="col-lg-4">&nbsp;&nbsp;
            <img src="../../assets/img/Screenshot_2023-03-10-11-02-52-12_1c337646f29875672b5a61192b9010f9.jpg" alt="Italian Trulli" class="shadow" style="width:430px;height:400px; border-radius: 2rem; ">
        </div>
        <div class="col-lg-8">
            <h2> Services & Solution</h2>
        <p style="text-align: justify; margin-right: 2ch; margin-left: 2ch;">
          &nbsp;&nbsp;&nbsp;&nbsp;Are you tired of searching for high-quality fabrics at affordable prices? Look no further than The Little Hanger. Our wide selection of premium fabrics and exceptional customer service makes us your go-to destination for all your fabric needs.

          We understand that as a business, you need to be able to source fabrics quickly and efficiently. That's why we offer competitive pricing and fast shipping, so you can get your materials when you need them. Our knowledgeable staff is always on hand to help you find the perfect fabric for your project and answer any questions you may have.

          At The Little Hanger, we also offer bulk discounts for businesses looking to purchase large quantities of fabric. Contact us today to learn more about our wholesale pricing options.

          We pride ourselves on offering sustainable and eco-friendly fabrics, so you can feel good about your purchase. Our selection of organic and sustainably sourced fabrics is perfect for businesses looking to incorporate environmentally friendly materials into their products.

          In addition, we also offer custom fabric printing services, so you can create your own unique designs and stand out from the competition. We'll work with you every step of the way to ensure that your custom fabric meets your specifications and exceeds your expectations.

          Choose The Little Hanger for all your fabric business needs. Our commitment to quality, affordability, and sustainability makes us the best choice for businesses of all sizes.
          </p><h5 style="margin-left: 4ch;" (click)="forward('service')">Read More <span style="color: green; font-size: larger;"><i class="bi bi-arrow-right"></i></span></h5>
        </div>
      </div>
    <br>
    <div class="row">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <div class="col-lg-2 ">
          <div class="card shadow-sm mt-3 mt-xl-4 " style="background-color:rgb(193, 247, 229) ;">
              <!-- <div class="card-header">
                 <h5 class="mb-0">CPD Details</h5>
             </div> -->

             <div class="card-body shadow">
                 <!-- <h5 class="mb-0">Founder</h5> -->
                 <img src="hr.employee-3093-image " alt="Italian Trulli" style="width:150px;height:150px">
                 <h5 class="mb-0" style="text-align: center;">Founder</h5>
                 <p class="mb-0" style="text-align: center;">Bijayashree Bilas</p>
             </div>
         </div>
      </div>
      <div class="col-lg-2">
          <div class="card shadow-sm mt-3 mt-xl-4 " style="background-color:rgb(193, 247, 229) ;">
              <!-- <div class="card-header">
                 <h5 class="mb-0">CPD Details</h5>
             </div> -->

             <div class="card-body shadow">
                 <!-- <h5 class="mb-0">Co-Founder</h5> -->
                 <img src="hr.employee-3071-image" alt="Italian Trulli" style="width:150px;height:150px">
                 <h5 class="mb-0" style="text-align: center;">Co-Founder</h5>
                 <p class="mb-0" style="text-align: center;">Rajendra Prasad</p>
             </div>
         </div>
      </div>
      <div class="col-lg-2">
          <div class="card shadow-sm mt-3 mt-xl-4 " style="background-color:rgb(193, 247, 229) ;">
              <!-- <div class="card-header">
                 <h5 class="mb-0">CPD Details</h5>
             </div> -->

             <div class="card-body shadow">
                 <!-- <h5 class="mb-0">Co-Founder</h5> -->
                 <img src="hr.employee-3108-image" alt="Italian Trulli" style="width:150px;height:150px">
                 <h5 class="mb-0" style="text-align: center;">Co-Founder</h5>
                 <p class="mb-0" style="text-align: center;">Jyotshna Rani Patra</p>
             </div>
         </div>
      </div>
      <div class="col-lg-5 ">
          <div class="card shadow-sm mt-3 mt-xl-4 shadow" style="background-color:rgb(193, 247, 229) ;">
              <div class="card-header">
                 <h5 class="mb-0">Founder Diary</h5>
             </div>

             <div class="card-body shadow">
                 <!-- <h5 class="mb-0">Co-Founder</h5> -->
                 <p>
                  Welcome to The Little Hanger, your one-stop shop for high-quality fabrics. We specialize in providing premium fabrics for all your sewing and crafting needs.

                 </p>
             </div>
         </div>
      </div>
  </div>

    <br>
  </div>
            <div class="contact" id="Contact">
                <div class="row" style="margin: top 1px;;">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="text-align: center;">
                    <br>Citizen Charter News | Events | Feedback | Form Contact
                    <p><br>FAQs | RTI | Privacy Policy | Copyright Policy | Hyperlink <br></p>
                    <p> Policy Terms | Conditions Site Map<br></p></div>
                </div>
            </div>


            <div class="topnav">
              <a  href="#home">Copyright 2023 The Little Hanger (T L H). All Right Reserved.</a>
               <div class="topnav-right">
                <a href="#news">Website Designed by Rajendra Prasad sahoo</a>

              </div>
            </div>

            <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border: 1px solid blue;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Up Date</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <h1><i class="bi bi-android2"></i></h1>
              <h3><i class="bi bi-balloon-heart"></i> Comming Soon !!</h3>
        </div>
      </div>
    </div>
  </div>
