.login-wrapp {
  background: #bbc4cc url(../../assets/img/login-bg.jpg) center;
  background-size: cover;
}
.contact {
  background: #bbc4cc url(../../assets/img/contact.jpg) center;
  background-size: cover;
}


.login-box {
  border-radius: 1rem;
}

.login-wrapp li{
  text-align: end;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #014d4e;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #017778;
  color: white;
}

.topnav a.active {
  background-color: #017778;
  color: white;
}

.topnav-right {
  float: right;
}

a:link {
  color: #014d4e;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #017778;
  background-color: transparent;
  text-decoration: underline;
}
