
<nav class="wrapper" style="background-color: wheat;"><br>
      <div style="text-align: center;">
        <h3><b>THE LITTLE HANGER</b></h3>
        <h6>PEHNO ESE CELEBRITY JESE.</h6><br>
      </div>
      <div class="topnav">
        <a  >&nbsp; <img src="../../assets/img/Annotation 2023-03-12 092855.png" style="width:30px;height:25px;"></a>

        <a>THE LITTLE HANGER</a>

        <div class="topnav-right">
          <a  title="Search"><i class="bi bi-search"></i></a>
          <a href="https://api.whatsapp.com/send?phone=6370178554&text=hlo"  title="Whatsapp"><i class="bi bi-whatsapp"></i></a>
          <a title="Wish List"><i class="bi bi-heart"></i></a>
          <a title="Cart"><i class="bi bi-cart"></i></a>

          <a  title="Order"><i class="bi bi-box-seam"></i></a>
          <a  title="Contact Us"><i class="bi bi-journal-bookmark-fill"></i></a>
          <a title="Profile"><i class="bi bi-person-circle"></i></a>
          <a  title="Logout"><i class="bi bi-box-arrow-left"></i></a>&nbsp;
        </div>
      </div>
    </nav>
