.dropdown-item:hover {
  cursor: pointer;
}
.topnav {
  overflow: hidden;
  background-color: #014d4e;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #017778;
  color: white;
}

.topnav a.active {
  background-color: #017778;
  color: white;
}

.topnav-right {
  float: right;
}

.wrapper{
  position: fixed;
  width: 100%;
}



